body {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.weatherWidget {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 160px;
    height: 172px;
    display: inline-block;
    padding: 10px 10px 10px 20px;
    font-family: arial, sans-serif;
    background: #edeceb;
    color: #6f6e6d;
}

.city {
    font-size: 16px;
    font-weight: bold;
    padding: 4px 0 4px 0;
    border-bottom: solid 1px #dedede;
}

.temperature {
    height: 65px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 10px;
}

.temperature__current {
    width: 100%;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.temperature__plus-or-minus {
    font-size: 26px;
}

.temperature__numbers {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 38px;

}

.temperature__numbers:after {
    content: "\2103";
    font-size: 12px;
    margin-top: 8px;
    font-weight: bold;
}

.temperature__img {
    width: 45px;
}

.otherParameters {
    font-size: 12px;
    font-weight: bold;
}

.otherParameters__child {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    line-height: 15px;
    color: #989796;
}

.otherParameters__child-icon {
    width: 10px;
    margin-right: 7px;
    display: inline-block;
    opacity: 0.5;
}

.show {
  opacity: 1;
  -webkit-transition: opacity 1500ms;
  -o-transition: opacity 1500ms;
  transition: opacity 1500ms;
}

.hide {
  opacity: 0;
  -webkit-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  transition: opacity 500ms;
}.example {
    display: -ms-grid;
    display: grid;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: -webkit-gradient(linear, left top, left bottom, from(white), to(black));
    background: -o-linear-gradient(top, white, black);
    background: linear-gradient(to bottom, white, black);
}